/* Colors */
:root {
  --accent: #20b31b;
  --text: #ddd;
  --bg: #181818;
}

/* Main */
body {
  color: var(--text);
  font-family: Lexend, Arial, sans-serif;
  background-color: var(--bg);
  background-image: radial-gradient(circle at top left, var(--accent) 2%, transparent 50%);
  background-repeat: no-repeat;
}
a {
  color: var(--accent);
}
