/* Colors */
:root {
  --accent: #20b31b;
  --text: #eee;
  --bg: #181818;
}

/* Main */
body {
  width: calc(100vw - 16px);
  height: calc(100vh - 16px);
  color: var(--text);
  font-family: Lexend, Arial, sans-serif;
  background-color: var(--bg);
  background-image: radial-gradient(circle at top left, var(--accent) 0%, transparent 25%);
  background-repeat: no-repeat;
  box-sizing: border-box;
}
h1, p {
  margin: 2px;
}
hr {
  border-style: solid;
}
a {
  color: var(--accent);
  transition: 500ms;
}
a:hover {
  filter: brightness(0.8);
}
button, ::file-selector-button {
  cursor: pointer;
  color: var(--text);
  padding: 4px 8px;
  margin: 2px;
  border: 2px var(--accent) solid;
  border-radius: 0.25rem;
  background: var(--bg);
  transition: 500ms;
}
button:hover, ::file-selector-button:hover {
  background: var(--accent);
}
