/* Colors */
:root {
  --accent: #20b31b;
  --text: #ddd;
  --bg: #181818;
}

/* Main */
body {
  color: var(--text);
  font-family: Lexend, Arial, sans-serif;
  background-color: var(--bg);
  background-image: radial-gradient(circle at center, var(--accent) 0%, transparent 70%);
}
a {
  color: var(--accent);
}
